/* Styling form and resume sections */

body {
    font-family: 'Times New Roman', Times, serif;
    margin: 20px;
    padding: 0;
    background-color: #2c3e50; /* Dark background */
    color: white;
}

form {
    margin: auto;
    background-color: #34495e; /* Dark Blue-Gray */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    padding: 20px;
    max-width: 600px;
}

h1 {
    text-align: center;
    color: #ecf0f1; /* Light color */
}

fieldset {
    border: 2px solid #2980b9; /* Blue border */
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #34495e;
}

legend {
    font-weight: bold;
    text-align: left;
    color: #ecf0f1; /* Light color */
}

label {
    display: block;
    margin-top: 10px;
    color: #ecf0f1;
}

input, textarea {
    margin-top: 4px;
    padding: 8px;
    width: calc(100% - 1px);
    border: 1px solid #2980b9;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    display: block;
    width: 100%;
    background-color: #2980b9; /* Blue */
    color: white;
    border: none;
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    margin-top: 10px;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    padding: 10px;
    cursor: pointer;
}

button:hover {
    background-color: #3498db; /* Lighter Blue */
}

#resume-display {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    border: 2px solid #2980b9;
    border-radius: 8px;
    background-color: #34495e;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

#resume-display h2 {
    color: white;
}
